"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    enableAutoActivation: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    audioBeep: false
    automaticallyUpdate: false
    closeEmptyWindows: false
    customFileTypes:
      "source.erb": [
        "eco"
      ]
      "source.java": [
        "jj"
      ]
      "source.js": [
        "eslintrc"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "timecop"
      "welcome"
      "copy-as-rtf"
      "atom-pair"
      "no-title-bar"
      "atom-beautify"
      "emmet"
      "file-type-icons"
      "indentation-indicator"
      "language-vue"
      "tree-view-git-status"
      "autoflow"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "image-view"
      "link"
      "markdown-preview"
      "open-on-github"
      "package-generator"
      "snippets"
      "spell-check"
      "status-bar"
      "styleguide"
      "update-package-dependencies"
      "wrap-guide"
      "grammar-selector"
      "line-ending-selector"
      "symbols-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "es2015"
      "es5"
      "yarn.lock"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/Projects"
    telemetryConsent: "no"
    themes: [
      "apex-ui-slim"
      "one-light-syntax"
    ]
    titleBar: "custom"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Monoid-Retina, Monoid, Hasklig, Source Code Pro, Monaco, Fira Code, Fira Mono, PT Mono, Andale Mono, Menlo, monospace"
    fontSize: 12
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
    tabLength: 4
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  "one-light-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".gfm.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
