"*":
  "exception-reporting":
    userId: "be2aa5b5-9416-c0db-6324-cff873b40abe"
  metrics:
    userId: "9b82febc0cb73523c87a3b6288312c38fe9e26f9"
  welcome:
    showOnStartup: false
  editor:
    preferredLineLength: 120
    tabLength: 4
    softTabs: false
    core:
      ignoredNames: [
        ".git"
        ".svn"
        ".DS_Store"
        "node_modules"
        ".gitkeep"
        "bower_components"
        "*.gz"
        "out"
      ]
      followSymlinks: true
      themes: [
        "one-light-ui"
        "pen-paper-coffee-syntax"
      ]
      projectHome: "/Users/balupton/Projects"
      audioBeep: false
    "tree-view":
      hideIgnoredNames: true
    whitespace:
      ignoreWhitespaceOnCurrentLine: false
      ensureSingleTrailingNewline: false
    invisibles: {}
    showIndentGuide: true
  core:
    disabledPackages: [
      "linter-coffeelint"
      "linter-tidy"
      "trailing-semicolon"
      "tabs-to-spaces"
      "indentation-indicator"
      "auto-detect-indentation"
    ]
  react: {}
  "autoclose-html": {}
  linter: {}
  "api-docs":
    dom_events: false
    dom: false
    http: false
    iojs: true
    react: true
    backbone: true
    underscore: true
  term2:
    autoRunCommand: "login -f `whoami`"
