"*":
  "exception-reporting":
    userId: "be2aa5b5-9416-c0db-6324-cff873b40abe"
  metrics:
    userId: "9b82febc0cb73523c87a3b6288312c38fe9e26f9"
  welcome:
    showOnStartup: false
  editor:
    preferredLineLength: 120
    tabLength: 4
    softTabs: false
    core:
      ignoredNames: [
        ".git"
        ".svn"
        ".DS_Store"
        "node_modules"
        ".gitkeep"
        "bower_components"
        "*.gz"
        "out"
      ]
      followSymlinks: true
      audioBeep: false
    "tree-view":
      hideIgnoredNames: true
    whitespace:
      ignoreWhitespaceOnCurrentLine: false
      ensureSingleTrailingNewline: false
    invisibles: {}
    showIndentGuide: true
    autoIndentOnPaste: false
  core:
    customFileTypes:
      "source.js": [
        "eslintrc"
      ]
      "source.erb": [
        "eco"
      ]
      source: [
        "[object Object]"
      ]
    openEmptyEditorOnStart: false
    projectHome: "~/Projects"
    disabledPackages: [
      "git-blame"
    ]
  linter:
    showErrorTabLine: true
    lintOnFly: false
  "api-docs":
    dom_events: false
    dom: false
    http: false
    iojs: true
    react: true
    backbone: true
    underscore: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jsonlint": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  react: {}
  nuclide:
    remoteProjectsConfig: []
  "nuclide-flow": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "autocomplete-plus":
    enableAutoActivation: false
    backspaceTriggersAutocomplete: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
