# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'.autocomplete-plus input.hidden-input':
  'enter': 'autocomplete-plus:confirm'
'body':
  'cmd-shift-2': 'pane:split-left'
#'.editor':
#  'cmd-s': 'semicolons:remove'
'.editor':
  'ctrl-alt-tab': 'whitespace:convert-spaces-to-tabs'