// ===============================================================
// https://github.com/apex/apex-ui-slim/blob/81f8ac49c0b1632e459a7d04a6febbdb3a39261c/styles/open-color.less#L16-L30

@oc-gray-list: #f8f9fa, #f1f3f5, #e9ecef, #dee2e6, #ced4da, #adb5bd, #868e96, #495057, #343a40, #212529;

@oc-gray-0: extract(@oc-gray-list, 1);
@oc-gray-1: extract(@oc-gray-list, 2);
@oc-gray-2: extract(@oc-gray-list, 3);
@oc-gray-3: extract(@oc-gray-list, 4);
@oc-gray-4: extract(@oc-gray-list, 5);
@oc-gray-5: extract(@oc-gray-list, 6);
@oc-gray-6: extract(@oc-gray-list, 7);
@oc-gray-7: extract(@oc-gray-list, 8);
@oc-gray-8: extract(@oc-gray-list, 9);
@oc-gray-9: extract(@oc-gray-list, 10);


// ===============================================================
// https://github.com/atom/atom/issues/4599#issuecomment-270388067

// Put this to the top of the file:
@import "ui-variables";

// Shift the tabs up
atom-workspace {
  // Hide title
  .title-bar .title {
	display: none;
  }

  // Remove background from titlebar and toolbars
  .title-bar,
  .tool-bar,
  .tool-bar button.tool-bar-btn {
	background-color: transparent;
	border-width: 0;
  }

  atom-workspace-axis.vertical {
	.tab-bar {
	  box-shadow: inset 0 0 0;
	}
  }

  atom-workspace-axis.horizontal {
	// comment this out if you want draggable titlebar:
	margin-top: -@tab-height;
	background-color: inherit;
  }

  // Keep the side panels aligned
  atom-panel-container {
	&.left {
	  margin-top: @tab-height;
	}
	&.right {
	  margin-top: @tab-height;
	}
  }

  .fullscreen {
	atom-workspace atom-workspace-axis.horizontal {
	  margin-top: 0px;
	}
	atom-panel-container{
	  &.left {
		margin-top: 0px;
	  }
	  &.right {
		margin-top: 0px;
	  }
	}
  }

  atom-panel-container.left:empty + atom-workspace-axis.vertical .tab-bar {
	margin-left: 70px;
  }
}

// ===============================================================
// @balupton's things

// make text look better
.platform-darwin .workspace  {
	-webkit-font-smoothing: none;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	// -webkit-text-stroke: 0.015em;
	text-rendering: auto;
	text-rendering: optimizeSpeed;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
}

// needed for the git gutter variables
@import "syntax-variables";

// https://github.com/atom/git-diff/pull/19
atom-workspace.theme-apex-ui-slim atom-text-editor,
atom-text-editor {
	.gutter .line-number {
		&.git-line-modified {
			background: @syntax-color-modified;
			color: white;
		}
		&.git-line-added {
			background: @syntax-color-added;
			color: white;
		}
		&.git-line-removed {
			background: @syntax-color-removed;
			color: white;
		}
	}
}

// apex ui modifications
// https://github.com/apex/apex-ui-slim/issues/9
atom-workspace.theme-apex-ui-slim {
	// fix padding on tab bar
	.tab-bar {
		margin: 0;
	}
	.tree-view-resizer {
		border: 0;
	}
}
